Options -Indexes

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(assets|common/images)/ - [L]

RewriteRule \.(html|inc)\.php$ common/errors/handle404.php [L]

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule \.php$ - [L]

RewriteRule . common/errors/handle404.php [L]
