<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rule 1" stopProcessing="true">
          <match url="^(assets|common/images)/" ignoreCase="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="Rule 2" stopProcessing="true">
          <match url="\.(html|inc)\.php$" ignoreCase="false" />
          <action type="Rewrite" url="common/errors/handle404.php" />
        </rule>
        <rule name="Rule 3" stopProcessing="true">
          <match url="\.php$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="Rule 4" stopProcessing="true">
          <match url="." ignoreCase="false" />
          <action type="Rewrite" url="common/errors/handle404.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
